

.title{
	color: red;
	font-family: cambria;
	font-size: 1.6em;
	font-weight: bold;

}
.text{
	padding: 12px;
	background-color: rgb(212, 206, 206);
	color: rgb(18, 13, 13);
	width: 90%;
	border-radius: 10px;
	font-weight: bold;
}
.tr{
	color: tomato;
}



.btn{
	color: rgb(20, 18, 18);
	background-color: rgb(204, 96, 8);
	border:0px;
	box-shadow: 1px 3px 5px 2px;
	width: 50%;
	height: 35px;
	font-size: 1.3em;
}


.ar{
	padding: 12px;
	background-color: black;
	color: white;
}
